#bar {
	color: Red;
}

ul {
	list-style: none;
}

li{
	display: inline-block;
}

h1 {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	width: 100%;
	background-color: Red;
}

body {
	font-family:  Arial;
	color: #665544;
	padding: 10px;
}

#des {
	font-family: sans-serif;
	color: DarkCyan;
}